<html>
<head>
{%load staticfiles%}
    {% load widget_tweaks %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="{% static "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" %}"></script>
        <script src="{% static "https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" %}"></script>
    <![endif]-->

    <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
    <link rel="stylesheet" href="{% static "https://formden.com/static/cdn/bootstrap-iso.css" %}" />

    <!--Font Awesome (added because you use icons in your prepend/append)-->
    <link rel="stylesheet" href="{% static "https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" %}" />

<title>Register</title>
</head>
<style type="text/css">
 .bg{

background-image: url("/static/images.jpg");
background-repeat:no-repeat;

 background-attachment: fixed;

width: 100%;
height:150%;
}



.s {
    position:absolute;
    background-image: url("l.png");
    background-repeat: no-repeat;
    width:50%;
    height:115%;
    margin-left:24%;
    margin-top:3%;

}
.o {
padding-top:20px;

}
.o3 {
padding-top:20px;
padding-left:45%;
}
</style>
<div class="bg">
	<div class="icon">
	</div>
   <div class="s">
<font size="6"><p align="center">Register</p></font>
       <form method="post">
				{% csrf_token %}
					<!-- First Label -->
					<label>Username</label>
					<div class="input-group">
					  <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>

					  {{ form.username|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
					</div>

					{% if form.username.errors %}
					<br>
					<div class="alert alert-danger alert-dismissible" role="alert">
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					  <strong>Warning!</strong>
					   {% for error in form.username.errors %}
                              {{ error }}
                       {% endfor %}
                       </div>
					{% endif %}

		   			<br>

		   			<label>First Name</label>
					<div class="input-group">
					  <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>

					  {{ form.first_name|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
					</div>

					{% if form.first_name.errors %}
					<br>
					<div class="alert alert-danger alert-dismissible" role="alert">
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					  <strong>Warning!</strong>
					   {% for error in form.first_name.errors %}
                              {{ error }}
                       {% endfor %}
                       </div>
					{% endif %}

		   			<br>

		   			<label>Last name</label>
					<div class="input-group">
					  <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>

					  {{ form.last_name|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
					</div>

					{% if form.last_name.errors %}
					<br>
					<div class="alert alert-danger alert-dismissible" role="alert">
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					  <strong>Warning!</strong>
					   {% for error in form.last_name.errors %}
                              {{ error }}
                       {% endfor %}
                       </div>
					{% endif %}

		   			<br>
		   		   			<label>Country</label>
					<div class="input-group">
					  <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>

					  {{ acc_form.country|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
					</div>

					{% if acc_form.country.errors %}
					<br>
					<div class="alert alert-danger alert-dismissible" role="alert">
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					  <strong>Warning!</strong>
					   {% for error in acc_form.country.errors %}
                              {{ error }}
                       {% endfor %}
                       </div>
					{% endif %}
		   			<br>

		             <label>Phonenumber</label>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>

                      {{ acc_form.phonenumber|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
                    </div>

                    {% if acc_form.phonenumber.errors %}
                    <br>
                    <div class="alert alert-danger alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <strong>Warning!</strong>
                       {% for error in acc_form.phonenumber.errors %}
                              {{ error }}
                       {% endfor %}
                       </div>
                    {% endif %}
		   			<br>
		   		   			<label>City</label>
					<div class="input-group">
					  <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>

					  {{ acc_form.city|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
					</div>

					{% if acc_form.city.errors %}
					<br>
					<div class="alert alert-danger alert-dismissible" role="alert">
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					  <strong>Warning!</strong>
					   {% for error in acc_form.city.errors %}
                              {{ error }}
                       {% endfor %}
                       </div>
					{% endif %}

					<br>
					<!-- Secound Label -->
					<label>E-mail</label>
					<div class="input-group">
					  <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-envelope"></span></span>

					  {{ form.email|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
					</div>
					{% if form.email.errors %}
					<br>
					<div class="alert alert-danger alert-dismissible" role="alert">
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					  <strong>Warning!</strong>
					   {% for error in form.email.errors %}
                              {{ error }}
                       {% endfor %}
                       </div>
					{% endif %}

					<br>
					<!-- Third Label -->
					<label>Password</label>
					<div class="input-group">
					  <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-ban-circle"></span></span>

					  {{ form.password|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
					</div>
					<br>
					{% if form.password.errors %}
					<br>
					<div class="alert alert-danger alert-dismissible" role="alert">
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					  <strong>Warning!</strong>
					   {% for error in form.username.errors %}
                              {{ error }}
                       {% endfor %}
                       </div>
					{% endif %}


					<!-- Fourth Label -->
					<label>Reenter Password</label>
					<div class="input-group">
					  <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-ban-circle"></span></span>

					  {{ form.retypepassword|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
					</div>
					<br>
					{% if form.retypepassword.errors %}
					<br>
					<div class="alert alert-danger alert-dismissible" role="alert">
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					  <strong>Warning!</strong>
					   {% for error in form.retypepassword.errors %}
                              {{ error }}
                       {% endfor %}
                       </div>
					{% endif %}
					<br>
					 <center>{{form.recaptcha|attr:"required:required"}}</center>
					 {% if form.recaptcha.errors %}
					<br>
					<div class="alert alert-danger alert-dismissible" role="alert">
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					  <strong>Warning!</strong>
					   {% for error in form.recaptcha.errors %}
                              {{ error }}
                       {% endfor %}
                       </div>
					{% endif %}
					 <br>
					<div>
						<input style="border: 1px solid black;" class="form-control btn btn-default" type="submit" placeholder="Submit">
					</div>
					<br><br>
					</form>
<br><br>
<font size="2" color="#6495ED"><p align="center"><a href="/login"%}" style="text-decoration: none">You have an account already? Go and log in.</a></p></font>
   </div>
</div>
</body>
</html>
