.header{
  background-image: url('20.jpg');
  height: 80px;
}

.leftcorner{
  background: url("10.png");
  width: 230px;
  height: 80px;
  position:relative;
}

.pozaj{
    background-image: url("1.jpg");
    background-repeat: no-repeat;
    width:100%;
    height:300px;
    margin-top: 40px;
    position:relative;
}

.text{
    text-align:center;
}

.m{
  margin-left: 30%;
  padding-top:105%;
}

.leftcorner2{

    margin-left:42%;
    background-image: url("10.png");
    background-repeat:no-repeat;
    width: 250px;
    height: 80px;
}

.pozaj2{
    background-image: url("2.jpg");
    background-repeat: no-repeat;
    width:100%;
    height:50px;

}

.textj{
    padding-top: 20px;
    position: relative;
    display: inline-block;
}

.textj2{
    display:inline-block;
    padding-left: 50%;
    position: relative;
}

.textj3{
    display:inline-block;
    padding-left: 5%;
    position: relative;
}

.margini{
    margin-right:40%;
    display: inline-block;
}

.margini2{
    margin-left:2%;
    width:150px;
    margin-right: 60%;
}

.avatar
{
  /* make it responsive */
  max-width: 10%;
  width:10%;
  height:auto;
  display:block;
  /* div height to be the same as width*/
  padding-top:10%;

  /* make it a circle */
  border-radius:100%;

  position:absolute;
  background-repeat: no-repeat;


}
.margini3{
  margin-left: 25%;
  position:absolute;

}.margini4{
  margin-left: 26%;
  position:absolute;
}

.margini5{
  padding-left: 45%;

}

.margini6
{
  margin-top:25%;
}

.ceva21{
  background-color:#d7d7c1;
  background-repeat: no-repeat;
  height:95%;
  margin-top: 11.5%;
}

.ceva2{
  margin-left:28%;
}

.ceva1{
  width:90%;
  margin-top: 3.5%;
}
.ceva3{
  width:6%;
  height: 7.3%;
  position:absolute;
}
.ceva4{
  width:6%;
  height: 7.3%;
  position:absolute;
  margin-left:6%;
}
.margina{
    margin-top:6%;
}


.ceva6{
  width:6%;
  height: 7.3%;
  position:absolute;
  margin-left:12%;
}

.ceva5{
  position:absolute;
  margin-top:4%;
  margin-right:13%;
}

.las{
  background-image: url("2.jpg");
  background-repeat: no-repeat;
  width:18%;
  height:45%;
  margin-top:0.5%;
  position:absolute;
}

.altceva{
  background-image: url("2.jpg");
  background-repeat: no-repeat;
  width:50%;
  height:14%;
  margin-top: 0.4%;
  margin-left:32.3%;

}

.altceva2{
  background-image: url("2.jpg");
  background-repeat: no-repeat;
  width:50%;
  height:14%;
  margin-top: 8%;
  margin-left:32.3%;

}

.altceva3{
  background-image: url("2.jpg");
  background-repeat: no-repeat;
  width:50%;
  height:14%;
  margin-top: 15.7%;
  margin-left:32.3%;
  position:absolute;
}

.las2{

  width:18%;
  height:45%;
  margin-top:0.5%;
  margin-left:25%;
  position:absolute;
}

.las3{

  width:18%;
  height:45%;
  margin-top:0.5%;
  margin-left:50%;
  position:absolute;
}

.las4{

  width:18%;
  height:45%;
  margin-top:0.5%;
  margin-left:75%;
  position:absolute;
}
.las5{

  width:18%;
  height:45%;
  margin-top:15%;
  margin-left:25%;
  position:absolute;
}

.las6{

  width:18%;
  height:45%;
  margin-top:15%;
  margin-left:50%;
  position:absolute;
}

.las7{

  width:18%;
  height:45%;
  margin-top:15%;
  margin-left:75%;
  position:absolute;
}

.m2{
  padding-left: 37%;
}

.pozaj3{
    background-image: url("2.jpg");
    background-repeat: no-repeat;
    width:100%;
    height:50px;
    position:absolute;
}

.searchbox{
    padding:25px 50px 0px 50px;
}

#delimitare{
    margin-top:10px;
}

#titluanunturi{
    text-align:center;
    font-weight:Bold;
}

@media (min-width: 500px){
    .navbar-fixed-left{
        position:absolute;
        border-radius:0;
        height:100%;
    }
}
@media (max-width: 500px) {
    .navbar-fixed-left {
        position:relative;
    }
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
}

.alb{
    background-color:#ffffff;
    height:1500px;
    width:70%;
    margin-left:15%;
    margin-right:15%;
}

.anunturi{
    position:relative;
}

.footer{
	background: #B2BEB5;
	height:200px;
	position: absolute;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}

                            @media only screen and (max-width: 1000px){
                                .footer{
                                    	background: #B2BEB5;
                                        height:200px;
                                        position: relative;
                                        width: 100%;
                                        border-bottom: 1px solid #CCCCCC;
                                        border-top: 1px solid #DDDDDD;
                                }
                              }

.margini{
    margin-left:17%;
}


.success-popup  {
    transition: .3s ease all;
    font-family: 'Roboto', sans-serif;
}


#custom-search-input{
    padding: 3px;
    margin-bottom: 10px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
    height: 100%;
    width: 100%;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.negru{
    background-color:#ebebe0

}