<!DOCTYPE html>
<html lang="en">

<head>
{% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BookVenue2</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/modern-business.css" &}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="{% static "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" %}"></script>
        <script src="{% static "https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" %}"></script>
    <![endif]-->

    <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
    <link rel="stylesheet" href="{% static "https://formden.com/static/cdn/bootstrap-iso.css" %}" />

    <!--Font Awesome (added because you use icons in your prepend/append)-->
    <link rel="stylesheet" href="{% static "https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" %}" />
    <link rel="stylesheet" href="/maps/documentation/javascript/demos/demos.css">
    <style>
                            #img_size {
                                width: 845px;
                                margin: 0;
                                padding: 0;
                            }
                            @media only screen and (max-width: 599px){
                                #img_size {
                                    width: 287px;
                                    margin: 0;
                                    padding: 0;
                                }
                              }
                              @media only screen and (max-width: 770px and min-width:600px){
                                #img_size {
                                    width: 700px;
                                    margin: 0;
                                    padding: 0;
                                }
                              }

                              body{
                                background-color:#f2f2f2;
                              {
                        </style>

</head>



<div>

  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">

              <a class="navbar-brand" href="/">BookVenue</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a href="/create-post">+</a>
                  </li>
                  <li>
                      <a href="/profile">YOU</a>
                  </li>
                  <li>
                      <a href="/logout">Logout</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>

    <div class="alb">
        <br><br><br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11132.329361888747!2d21.21898925!3d45.76954005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sro!2sro!4v1470760832770" width=100% height=350px frameborder="0" style="border:0"></iframe>
        <br>
<div class="container">
        <div class="row">
            <div class="col-lg-9">

                <form method="GET" action="">
                    <h2>Search for a perfect location</h2>
                    <div id="custom-search-input">
                        <div class="input-group col-lg-12">
                            <input type="text" name="q" placeholder="Search posts" value='{{ request.GET.q }}'/>
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-lg" type="submit" value="Search">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>

                <div class="row">
                    {% for post in events %}
                    <div class="col-sm-3 col-lg-3 col-md-3">
                        <div class="thumbnail">
                            <a href="/post/{{post.slug}}"><img src= '{{  post.image1.url }}'  class = 'img-responsive'/></a>
                            <div class="caption">
                                <h4 class="pull-right">${{post.price}}</h4>
                                <h4><a href="/post/{{post.slug}}">{{ post.name }}</a></h4>
                                <h4>Addres:{{post.adress}}</h4>
                                <h4>Date:{{post.date}}<h4>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
</div>
    <!-- /.container -->
</div>
        <div class="footer" id="footer">
            <div class="container margini">
                <div class="row">

                    <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                        <h3> About us </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur.</p>
                    </div>
                    <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                        <h3> General links </h3>
                        <ul>
                            <li> <a href="/register"> Sign up </a> </li>
                            <li> <a href="/logout"> Logout </a> </li>
                            <li> <a href="/profile"> Profile </a> </li>
                            <li> <a href="/create-post"> Create Post </a> </li>
                        </ul>
                    </div>

                    <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                        <h3> Contac us </h3>
                        <p>You can contact us writing us an mail at adress:
                            mihai.temian@gmail.com</p>
                    </div>

                    <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                        <h3> Social</h3>
                        <ul class="social">
                            <li> <a href="https://www.facebook.com/temian.mihai"> <i class=" fa fa-facebook">   </i> </a> </li>
                            <li> <a href="https://www.facebook.com/temian.mihai"> <i class="fa fa-google-plus">   </i> </a> </li>
                            <li> <a href="https://www.facebook.com/temian.mihai"> <i class="fa fa-pinterest">   </i> </a> </li>
                        </ul>
                    </div>

                </div>
                <!--/.row-->
            </div>
            <!--/.container-->
        </div>

</body>

</html>
