<html lang="en">

<head>
    {% load staticfiles %}
    {% load material_form %}
    {% load widget_tweaks %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BookVenue</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/modern-business.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="{% static "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" %}"></script>
        <script src="{% static "https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" %}"></script>
    <![endif]-->    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.min.css">

    <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
    <link rel="stylesheet" href="{% static "https://formden.com/static/cdn/bootstrap-iso.css" %}" />

    <!--Font Awesome (added because you use icons in your prepend/append)-->
    <link rel="stylesheet" href="{% static "https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" %}" />
    <link rel="stylesheet" href="/maps/documentation/javascript/demos/demos.css">
    <style>
                            #img_size {
                                width: 845px;
                                margin: 0;
                                padding: 0;
                            }
                            @media only screen and (max-width: 599px){
                                #img_size {
                                    width: 287px;
                                    margin: 0;
                                    padding: 0;
                                }
                              }
                              @media only screen and (max-width: 770px and min-width:600px){
                                #img_size {
                                    width: 700px;
                                    margin: 0;
                                    padding: 0;
                                }
                              }

                              body{
                                background-color:#f2f2f2;
                              {

                                @media only screen and (max-width: 1700px){
                                #img_size {
                                    width: 287px;
                                    margin: 0;
                                    padding: 0;
                                }
                              }
                        </style>
        <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/style-material.css" %}" rel="stylesheet">

</head>

<body>

   <div class="bv-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
          <a href="/">
          <span class="bv-title mdl-layout-title">
            <img class="bv-logo-image" src='{% static "css/10.png" %}'>
          </span>
            </a>

          <!-- Add spacer, to align navigation to the right in desktop -->
          <div class="bv-header-spacer mdl-layout-spacer"></div>
          <div class="bv-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="search-field">
            </div>
          </div>
          <!-- Navigation -->
          <div class="bv-navigation-container">
            <nav class="bv-navigation mdl-navigation">
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/create-request"><i class="material-icons">build</i> Create Request</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/create-post"><i class="material-icons">event</i> Add Event</a>
                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/profile"><i class="material-icons">face</i> Profile</a>
                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/logout"><i class="material-icons">lock</i> Logout</a>
                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/"><i class="material-icons">home</i> Home</a>
            </nav>
          </div>
        </div>
      </div>

</div>

    <div class="col-lg-12">
        <h2 class="page-header" align="center">Post your offer right now</h2>
    </div>
    <form  method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container">
        <div class="col-md-4">
            <label>Name of location</label>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>

                      {{ form.name|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}

                    </div>
            {% if form.name.errors %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for errors in form.name.errors %}
				                                                {{ errors }}
				                                        {% endfor %}
                                                            </div>
                                             {% endif %}
      </div>

    <div class="col-md-4">
            <label>Date</label>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-calendar"></span></span>

                      {{ form.date|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
                    </div>
        {% if form.date.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Warning!</strong>
                        {% for errors in form.date.errors %}
                        {{ errors }}
                        {% endfor %}
                    </div>
        {% endif %}
    </div>

            <div class="col-md-4">
            <label>Final Date</label>
                    <div class="input-group" >
                      <span class="input-group-addon" id="basic-addon1" ><span class="glyphicon glyphicon-calendar"></span></span>

                      {{ form.finaldate|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
                    </div>
        {% if form.finaldate.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Warning!</strong>
                        {% for errors in form.finaldate.errors %}
                        {{ errors }}
                        {% endfor %}
                    </div>
        {% endif %}
    </div>

        <br></br><br><br>

       <div class="col-md-4">
            <label>Adress</label>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-home"></span></span>

                      {{ form.adress|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
                        </div>
           {% if form.adress.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for errors in form.adress.errors %}
				                                                {{ errors }}
				                                        {% endfor %}
                                                            </div>
                                             {% endif %}
       </div>
        <br><br><br>

       <div class="col-md-4">
        <label>Phone number</label>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-phone"></span></span>

                      {{ form.phonenumber|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
                        </div>
           {% if form.phonenumber.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for errors in form.phonenumber.errors %}
				                                                {{ errors }}
				                                        {% endfor %}
                                                            </div>
                                             {% endif %}
       </div>



       <div class="col-md-4">
            <label>Category</label>
<div >


              {{ form.category|add_class:"form-control "|attr:"required:required"}}


  </div>
           {% if form.category.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for errors in form.category.errors %}
				                                                {{ errors }}
				                                        {% endfor %}
                                                            </div>
                                             {% endif %}

       </div>


       <div class="col-md-4">
            <label>NrLocuri</label>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-equalizer"></span></span>

                      {{ form.nrlocuri|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
                        </div>
           {% if form.nrlocuri.errors %}
           <div class="alert alert-danger alert-dismissible" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for errors in form.nrlocuri.errors %}
				                                                {{ errors }}
				                                        {% endfor %}
                                                            </div>
                                             {% endif %}

       </div>

        <br><br><br>

       <div class="col-md-4">
            <label>Details</label>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-blackboard"></span></span>

                      {{ form.details|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
                        </div>
           {% if form.details.errors %}
           <div class="alert alert-danger alert-dismissible" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for errors in form.details.errors %}
				                                                {{ errors }}
				                                        {% endfor %}
                                                            </div>
                                             {% endif %}
      </div>

               <div class="col-md-4">
            <label>Site</label>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-blackboard"></span></span>

                      {{ form.site|add_class:"form-control"|attr:"aria-describedby=basic-addon1"}}
                        </div>
           {% if form.site.errors %}
           <div class="alert alert-danger alert-dismissible" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for errors in form.site.errors %}
				                                                {{ errors }}
				                                        {% endfor %}
                                                            </div>
                                             {% endif %}
      </div>

             <div class="col-md-4">
        <label>Price</label>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-scale"></span></span>

                      {{ form.price|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
                        </div>
         {% if form.price.errors %}
         <div class="alert alert-danger alert-dismissible" role="alert">

                                                        <strong>Warning!</strong>
				                                        {% for errors in form.price.errors %}
				                                                {{ errors }}
				                                        {% endfor %}
                                                            </div>
                                             {% endif %}
     </div>



        <div class="col-md-4">
            <label>Image</label>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-file"></span></span>

                      {{ form.image1|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
                        </div>
           {% if form.image1.errors %}
           <div class="alert alert-danger alert-dismissible" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for errors in form.image1.errors %}
				                                                {{ errors }}
				                                        {% endfor %}
                                                            </div>
                                             {% endif %}
        </div>


<br><br><br><br>
         <div class="col-md-4">
            <label>Image</label>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-file"></span></span>

                      {{ form.image2|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
                        </div>
           {% if form.image2.errorss %}
           <div class="alert alert-danger alert-dismissible" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for errors in form.image2.errors %}
				                                                {{ errors }}
				                                        {% endfor %}
                                                            </div>
                                             {% endif %}
        </div>

         <div class="col-md-4">
            <label>Image</label>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-file"></span></span>

                      {{ form.image3|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
                        </div>
           {% if form.image3.errors %}
           <div class="alert alert-danger alert-dismissible" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for errors in form.image3.errors %}
				                                                {{ errors }}
				                                        {% endfor %}
                                                            </div>
                                             {% endif %}
        </div>

         <div class="col-md-4">
            <label>Image</label>
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-file"></span></span>

                      {{ form.image4|add_class:"form-control"|attr:"required:required"|attr:"aria-describedby=basic-addon1"}}
                        </div>
           {% if form.image4.errors %}
           <div class="alert alert-danger alert-dismissible" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                        <strong>Warning!</strong>
				                                        {% for errors in form.image4.errors %}
				                                                {{ errors }}
				                                        {% endfor %}
                                                            </div>
                                             {% endif %}
        </div>

       <br><br><br><br>
     <div class="margini5">
       <button class="btn btn-primary">Submit</button>
     </div>
    </div>
</form>

<div class="col-md-12">

                <footer class="bv-footer mdl-mega-footer">
          <div class="mdl-mega-footer--top-section">
            <div class="mdl-mega-footer--left-section">
              <button class="mdl-mega-footer--social-btn"><a href="https://www.facebook.com/temian.mihai"> <i class=" fa fa-facebook">   </i> </a></button>
              &nbsp;
              <button class="mdl-mega-footer--social-btn"><a href="https://www.facebook.com/temian.mihai"> <i class="fa fa-google-plus">   </i> </a></button>
              &nbsp;
              <button class="mdl-mega-footer--social-btn"><a href="https://www.facebook.com/temian.mihai"> <i class="fa fa-pinterest">   </i> </a></button>
            </div>
            <div class="mdl-mega-footer--right-section">
              <a class="mdl-typography--font-light" href="#top">
                Back to Top
                <i class="material-icons">expand_less</i>
              </a>
            </div>
          </div>

          <div class="mdl-mega-footer--middle-section">
            <p class="mdl-typography--font-light">Copyright © 2018 </p>
            <p class="mdl-typography--font-light">You can contact us writing us an mail at address:
                            mihai.temian@gmail.com</p>
          </div>

          <div class="mdl-mega-footer--bottom-section">
            <a class="bv-link mdl-typography--font-light" href="/register">Signup</a>
            <a class="bv-link mdl-typography--font-light" href="/login">Login</a>
          </div>

        </footer>

    </div>
</body>
</html>